<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}xx-array{% endblock %}</title>
        {% block stylesheets %}
        <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/ElEQVQ4Ed3SsSuFYRQG8F/dGK4YbJLJSCnlDyCDhdFkN8km012VLIrc9S7KZvWP3K4km0FiEINu6Hydr957DcrGqdP3nvM85+l7zvvy72IKuzjD6VBGL7DgfItxHKKduZyMdWxgBEs4SdHgxkwVkzhHC894x1jmJyKnMYpXPGIvZ2LWMbbxkeQQCGAx6xBYwQTestfHVs5Wfq8Kcgx0cVf07tEr6uBc5K4qgcshMAg/ZacWCAureMJ12rnNvwg7Ye0GD9jP/gvWagv1EqNxlIudzaXt5O00sJDYATbLJUa/vsYA55MYnyZminoOwRm4xgKvHsmvHlIp8sfOXxaST6xSO0JHAAAAAElFTkSuQmCC" rel="icon" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <style>
        body {
            background: #36393e;
            color: silver;
            font-family: 'Open Sans', sans-serif;
        }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
